.custom-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s;

    border-radius: 50px;
}

.custom-button:hover {
    background-color: #0056b3;  /* Darken the button on hover */
}
