.earth-container {
    text-align: center;
    margin-top: 50px;
    background-image: url('../assets/HomeBackground.webp');  /* WebP image as background */
    background-size: cover;    /* Cover the entire container */
    background-position: center;  /* Center the image */
    background-repeat: no-repeat;  /* Prevent the background from repeating */
    height: 100vh;  /* Set the container height to full view height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;  /* Ensure text is visible against background */
}

.earth-title {
    font-size: 2.5rem;
    color: white;
}

.earth-speech-bubble {
    position: absolute;  /* Position it relative to the parent container */
    bottom: 33%;
    right: 3%;
    /*transform: translate(-50%, -50%);*/
}

.earth-button {
    position: absolute;
    bottom: 10%;
    margin: 0;
}
